{% extends "layout/index.html" %}

{% block title %}Products{% endblock %}
{% block heading %}Product List{% endblock %}

{% block content %}

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.sku }}</td>
                    <td><a href="/product/{{ product.id }}">{{ product.name }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block textCtaPri %}New product{% endblock %}