{% extends "layout/index.html" %}

{% block title %}{{ product.name }} | Product Details{% endblock %}
{% block heading %}{{ product.name }} <small><a href="?action=update">Edit</a></small>{% endblock %}

{% block content %}
    <p>SKU: {{ product.sku }}</p>
    <p>Internal reference: {{ product.internal_reference }}</p>
    <p>Barcode: {{ product.barcode }}</p>
    <p>Allow auto order: {{ product.allow_auto_order }}</p>
    <p>Allow auto min stock: {{ product.allow_auto_min_stock_level }}</p>
    <p>Archived: {{ product.is_archived }}</p>
    <p>Tax rate: {{ product.tax_rate }}</p>
    <p>Notes: {{ product.notes }}</p>
{% endblock %}