{% extends "layout/index.html" %}

{% block title %}{{ product.name }} | Edit Product Details{% endblock %}
{% block heading %}Edit Product{% endblock %}

{% block content %}
    <form>
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.name.label }}
            {{ form.name(value=product.name, class_='form-control') }}  
        </div>
        <div class="form-group">
            {{ form.sku.label }}
            {{ form.sku(value=product.sku, class_='form-control') }}        
        </div>
        <div class="form-group">
            {{ form.description.label }}
            {{ form.description(class_='form-control')}}
        </div>
        <div class="form-group">
            {{ form.cost.label }}
            {{ form.cost(value=product.cost, class_='form-control')}}
        </div>
        <div class="form-group">
            {{ form.inStock.label }}
            {{ form.inStock(value=product.cur_stock_level, class_='form-control') }}
        </div>
        <div class="form-group">
            {{ form.minStock.label }}
            {{ form.minStock(value=product.min_stock_level, class_='form-control') }}
        </div>
        <div class="form-group">
            {{ form.supplier.label }}
            {{ form.supplier(class_='form-control') }}
        </div>
    </form>
{% endblock %}

{% block textCtaPri %}Update{% endblock %}

{% block scripts %}
    <script>
        $('#description').html('{{ product.description }}');
    </script>
{% endblock %}