{% extends "layout/index.html" %}

{% block title %}Suppliers{% endblock %}
{% block heading %}Supplier List{% endblock %}

{% block content %}

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <tbody>
            {% for supplier in suppliers %}
                <tr>
                    <td>{{ supplier.id }}</td>
                    <td><a href="/supplier/{{ supplier.id }}">{{ supplier.name }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block textCtaPri %}New supplier{% endblock %}