{% extends "layout/index.html" %}

{% block title %}{{ supplier.name }} | Supplier Details{% endblock %}
{% block heading %}{{ supplier.name }}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div>
                        <h2 class="card-title m-b-5"><span class="lstick"></span>Supplier details</h2>
                    </div>

                    {% for address in supplier.addresses %}
                        <address>
                            {{ address.add1 }}<br>
                            {{ address.add2 }}<br>
                            {{ address.add3 }}<br>
                            {{ address.town }}<br>
                            {{ address.county }}<br>
                            {{ address.postcode }}<br>
                            {{ address.country }}<br>
                        </address>
                    {% endfor %}
        
                    <p><strong>Min order value: </strong>{{ supplier.min_order_value }}{{ supplier.currency }}</p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="d-flex">
                        <div>
                            <h2 class="card-title"><span class="lstick"></span>Contacts</h2></div>
                    </div>
                    <div class="table-responsive m-t-20">
                        <table class="table vm no-th-brd no-wrap pro-of-month">
                            <thead>
                                <tr>
                                    <th colspan="2">Contact</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for contact in supplier.contacts %}
                                <tr>
                                    <td style="width:50px;"><span class="round"><img src="{{ url_for('static', filename='assets/images/users/1.jpg') }}" alt="user" width="50"></span></td>
                                    <td>
                                        <h6>{{ contact.name }}</h6><small class="text-muted">{{ contact.job_title }}</small></td>
                                    <td><a href="tel:{{ contact.phone }}">{{ contact.phone }}</a></td>
                                    <td><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div>
                        <h2 class="card-title m-b-5"><span class="lstick"></span>Products</h2>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>SKU</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in supplier.products %}
                                <tr>
                                    <td><a href="/product/{{ product.id }}">{{ product.sku }}</a></td>
                                    <td>{{ product.name }}</td>
                                </tr>
                            {% endfor %}                                              
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block textCtaPri %}New purchase order{% endblock %}